.chat-main
  .main-header
    .main-header__left-box
      %p
        = @group.name
      %ul.main-header__left-box__list
        %li.main-header__left-box__list__current-group
          Member :
        %li.main-header__left-box__list__member-name
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .main-header__right-box__edit-btn  
      = link_to edit_group_path(@group), class: "rightedit-btn" do
        Edit
  .messages-list
    .message
      = render @messages
      .message__datamessage
        .message__datamessage__upper-info
          aaaaaa
        .message__datamessage__low-info
          bbbbbb
      .message__text
        ddddddd

  .messages-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'

  